html {
  font-size: 16px;
  width: 100vw; }

a {
  color: #3017fa;
  text-decoration: underline;
  line-height: 1; }
  a:hover {
    text-decoration: none;
    color: #3017fa; }

.align-footer {
  max-width: 1480px;
  margin: auto; }

.arrows {
  height: 8vh;
  max-width: 1480px;
  margin: auto;
  cursor: pointer; }

body {
  font-family: "Lato",sans-serif;
  color: #070d22;
  font-size: 1.1rem;
  line-height: 1.7; }

.caption {
  font-size: 0.8rem;
  color: #656567;
  text-align: center; }

.footer {
  height: 8vh;
  background-color: #F2F2F2; }

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 0.9; }

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #3017fa; }

h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 1.3rem; }

i.fas,
i.fab {
  font-size: 2rem;
  line-height: 1;
  color: #3017fa; }

.custom-container {
  overflow: hidden;
  max-width: 1480px;
  margin: auto;
  height: 100%; }

.f-img {
  width: 100%;
  cursor: pointer; }

.logo {
  height: 40px;
  width: 40px;
  text-align: right; }
  .logo .logo-back {
    display: none; }
  .logo .logo-hello {
    display: block; }
  .logo a:hover .logo-hello {
    display: none; }
  .logo a:hover .logo-back {
    display: block; }

.logo-container {
  height: 7vh;
  padding-top: 5px; }

#modal-img {
  max-width: 100%; }

.modal-body {
  padding: 0px; }

.modal-dialog {
  min-width: 80%; }

.fixed {
  position: fixed;
  z-index: 10;
  top: 10px; }

.front-img {
  max-width: 100%; }

.logo .a {
  fill: #3017fa; }

.logo .b {
  fill: #ffeaea; }

.normal-container {
  padding: 4rem; }

.padding {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.pill {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 4px;
  background-color: #F2F2F2;
  border-radius: 16px;
  font-size: 0.8rem;
  color: #656567; }

.scroll-hidden {
  overflow-y: hidden;
  overflow-x: scroll; }

#scroll-section {
  height: 42vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: relative; }

::-webkit-scrollbar {
  display: none; }

.section {
  padding: 1.5rem; }

.spacer {
  margin-bottom: 1.5rem; }

.top-container {
  height: 35vh; }

.top-img, .slide-img {
  object-fit: cover; }

.top-img {
  height: 20rem;
  width: 100%; }

ul {
  list-style-type: none;
  padding: 0; }

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: auto;
  height: 100%;
  object-fit: cover; }

.wrapper > a {
  flex: 0 0 auto;
  width: 80%;
  height: 100%;
  margin-left: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover; }

@media (min-width: 576px) {
  html {
    font-size: 17px; }
  .wrapper > a {
    width: 55%; } }

@media (min-width: 992px) {
  .wrapper > a {
    width: 35%; } }

@media (min-width: 768px) {
  html {
    font-size: 17px; }
  .top-img {
    height: 30rem; }
  .padding {
    padding-left: 5.5rem;
    padding-right: 5.5rem; }
  .top-container {
    height: 28vh; }
  .logo {
    height: 45px;
    width: 45px; }
  .logo-container {
    height: 7vh;
    padding-top: 10px;
    margin-right: 10px; }
  .arrows {
    height: 10vh; }
  #scroll-section {
    height: 47vh; } }
